{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
	{{ trans('general.about.title') }}
{%- endblock %}
{% block description -%}
	{{ trans('general.about.description') }}
{%- endblock %}
{% block content %}
<article class="about">
	
	<section class="content">

		<div class="container-fluid  text-center">

			<div class="row wow bounceInLeft">
				<div class="col col-12 col-lg-9">
					<h3 class="primary">{{ trans('general.about.tedx.title') }}</h3>
					<h6 class="font-weight-bold">{{ trans('general.about.tedx.subtitle') }}</h6>
					{{ trans('general.about.tedx.content') | raw }}


				</div>

				<div class="col col-12 col-lg-3 vertical-align text-center">
						<img src="http://yukaichou.com/wp-content/uploads/2017/04/tedx-logo.png" width="200px" class="grid-image">
				</div>
			</div>

			<div class="row wow bounceInLeft">
				<div class="col col-12 col-lg-9 vertical-align text-center">
						<img src="{{ asset('images/about/1.jpg') }}" width="100%" class="grid-image">
				</div>
			</div>


				<div class="row wow bounceInRight text-center">
				<div class="col col-12 col-lg-9">

					<h3 class="primary">{{ trans('general.about.ted.title') }}</h3>
					{{ trans('general.about.ted.content') | raw }}

				</div>

				<div class="col col-12 col-lg-3 vertical-align text-center">
					<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/TED_three_letter_logo.svg/1000px-TED_three_letter_logo.svg.png" width="200px" class="grid-image">
				</div>

			</div>

			<div class="row wow bounceInRight">
				<div class="col col-12 col-lg-9 vertical-align text-center">
						<img src="{{ asset('images/about/2.jpg') }}" width="100%" class="grid-image">
				</div>
			</div>

				<div class='row wow bounceInLeft'>
				<div class="col col-12 col-lg-9">
					<h3 class="primary">{{ trans('general.about.tedxntua.title') }}</h3>
					{{ trans('general.about.tedxntua.content') | raw }}

				</div>

				<div class="col col-12 col-lg-3 vertical-align text-center">
						<img src="{{ asset('images/chaos_logo.png') }}" width="200px" class="grid-image">
				</div>
			</div>
		</div>

			<!-- <div class="container-fluid wow bounceInRight">
				<div class="row">
					<div class="col col-12 col-lg-6">
						<h2>About Our Topic</h2>

						<p class="text-justify">
							The various activities of the students and the academic community in general in the National Technical University of Athens are proof of creativity endemic. This scientific potential is the fundamental material for the creation of progressive ideas, which are capable of following the current advancements in science and technolo- gy.
						</p>
						<p class="text-justify">
							Nonetheless, the massive immigration of young graduates towards the flourishing economies of the world, the appearance of numerous new fields, the need for highly specialized scientists and employees, the general sense of individualism and especially the pervasive economical and ethical crisis have deprived the academic community of the collaborative spirit necessary in every learning experience.
						</p>
						<p class="text-justify">
							TEDxNTUA is an organized effort to create and sustain the necessary frame for the exchange of new ideas in the fields of technology and business administration. At the same time, NTUA’s community is becoming a living, extrovert organism focusing on the scientific and career goals of its members, while promoting the expan- sion of the network of collaboration between the NTUA, the industries and the startup community.
						</p>

						<p class="text-justify">
							This theme was handcrafted with love from scratch by TEDx NTUA IT Team. If you want to know more please contact <a href="mailto:developers@tedxntua.com">developers@tedxntua.com</a>. The website is built on the open-source PHP Framework Laravel. You are free to fork this theme.
						</p>
					</div>
					<div class="col col-12 col-lg-6">
						<h2>About Theme</h2>

						<p class="text-justify">
							This theme was handcrafted with love from scratch by TEDx NTUA IT Team. If you want to know more please contact <a href="mailto:developers@tedxntua.com">developers@tedxntua.com</a>. The website is built on the open-source PHP Framework Laravel. You are free to fork this theme.
						</p>
					</div>
				</div>
			</div>
		</div>
 -->
	</section>
</article>

{% endblock %}
