{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
{{ trans('general.blog.title') }}
{%- endblock %}
{% block description -%}
{{ trans('general.blog.description') }}
{%- endblock %}
{% block content %}

<article class="blog_overview">
	<section class="heading">
		<h1>{{ trans('general.blog.title') }}</h1>
	</section>

	<section class="content">
		<div class="card-columns blog-listing">
			<a class="card-img-link blog-link" href="/blog/cooking-melomakarona">
				<div class="card">
					<div class="card-img-wrapper">
						<img class="card-img" src="{{ asset('images/blog/cooking-melomakarona.jpg') }}">
						<div class="card-img-overlay">
							<h5>21 DEC 17</h5>
							<h3>Cooking Melomakarona</h3>
						</div>
					</div>
					<div class="card-body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ipsum ligula, dictum vel lacus sit amet, commodo faucibus eros.
					</div>
				</div>
			</a>
			<a class="card-img-link blog-link" href="/blog/photoshooting-making-of-our-promo-video">
				<div class="card">
					<div class="card-img-wrapper">
						<img class="card-img" src="{{ asset('images/blog/photoshooting-making-of-our-promo-video.jpg') }}">
						<div class="card-img-overlay">
							<h5>14 DEC 17</h5>
							<h3>Photoshooting - Making of our promo video</h3>
						</div>
					</div>
					<div class="card-body">
						Aenean augue tellus, sagittis efficitur massa at, sodales ultrices lacus. Ut sed lacinia dolor. Quisque porttitor, leo ut dictum fringilla, diam neque vehicula metus, nec commodo dolor ipsum sit amet ligula.
					</div>
				</div>
			</a>
			<a class="card-img-link blog-link" href="/blog/tedxntua-meets-tedxaueb">
				<div class="card">
					<div class="card-img-wrapper">
						<img class="card-img" src="{{ asset('images/blog/tedxntua-meets-tedxaueb.jpg') }}">
						<div class="card-img-overlay">
							<h5>14 DEC 17</h5>
							<h3>TEDxNTUA meets TEDxAUEB</h3>
						</div>
					</div>
					<div class="card-body">
						Proin orci ante, varius sed ante sit amet, varius dictum augue. Cras iaculis varius libero, at pulvinar libero mattis nec. Nam dignissim porttitor placerat. Nullam vitae nunc nec ante ultrices condimentum quis eu ante. Praesent cursus gravida convallis. Pellentesque a augue at dui sollicitudin euismod.
					</div>
				</div>
			</a>
			<a class="card-img-link blog-link" href="/blog/tedxntua-meets-tedxaueb">
				<div class="card">
					<div class="card-img-wrapper">
						<img class="card-img" src="{{ asset('images/blog/tedxntua-meets-tedxaueb.jpg') }}">
						<div class="card-img-overlay">
							<h5>14 DEC 17</h5>
							<h3>TEDxNTUA meets TEDxAUEB</h3>
						</div>
					</div>
					<div class="card-body">
						Proin orci ante, varius sed ante sit amet, varius dictum augue. Cras iaculis varius libero, at pulvinar libero mattis nec. Nam dignissim porttitor placerat. Nullam vitae nunc nec ante ultrices condimentum quis eu ante. Praesent cursus gravida convallis. Pellentesque a augue at dui sollicitudin euismod.
					</div>
				</div>
			</a>
			<a class="card-img-link blog-link" href="/blog/cooking-melomakarona">
				<div class="card">
					<div class="card-img-wrapper">
						<img class="card-img" src="{{ asset('images/blog/cooking-melomakarona.jpg') }}">
						<div class="card-img-overlay">
							<h5>21 DEC 17</h5>
							<h3>Cooking Melomakarona</h3>
						</div>
					</div>
					<div class="card-body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ipsum ligula, dictum vel lacus sit amet, commodo faucibus eros.
					</div>
				</div>
			</a>
			<a class="card-img-link blog-link" href="/blog/photoshooting-making-of-our-promo-video">
				<div class="card">
					<div class="card-img-wrapper">
						<img class="card-img" src="{{ asset('images/blog/photoshooting-making-of-our-promo-video.jpg') }}">
						<div class="card-img-overlay">
							<h5>14 DEC 17</h5>
							<h3>Photoshooting - Making of our promo video</h3>
						</div>
					</div>
					<div class="card-body">
						Aenean augue tellus, sagittis efficitur massa at, sodales ultrices lacus. Ut sed lacinia dolor. Quisque porttitor, leo ut dictum fringilla, diam neque vehicula metus, nec commodo dolor ipsum sit amet ligula.
					</div>
				</div>
			</a>
		</div>
	</section>

</article>

{% endblock %}