{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
{{ trans('general.blog.title') }}
{%- endblock %}
{% block description -%}
{{ trans('general.blog.description') }}
{%- endblock %}
{% block content %}

<article class="blog">
	<section class="heading">
		<h1>{{ trans('general.blog.title') }}</h1>
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">
					<div class="card mb-3   wow bounceInRight">
						<img class="card-img-top" src="{{ img_src }}">
						<div class="card-block">
							<div class="container-fluid">
								<div class='row'>
									<div class='col-12'>
										<h3 class="card-title" id="title">{{ title }}</h3>
									</div>
								</div>

								<div class='row'>
									<div class='col-6'>
										<p class="card-text"><small class="text-muted">{{ date }} </small></p>	
									</div>
									<div class='col-6 text-right'>
										<p class="card-text"><small class="text-muted">{{ hashtags }}</small></p>
									</div>
								</div>
								<div class="row text-justify"> 
									<div class='col-12'>
										<p class="card-text">{{content }}</p>

									</div>

								</div>

								<div class="row text-center"> 
									<div class='col-12'>
										<a href='/blog'>{{ trans('general.blog.back') }}</a>	
										
										</div>
								</div>


							</div>


						</div>
					</div>
				</div>
			</div>


		</div>


	</div>




</section>
</article>


{% endblock %}