{% extends "theme.twig" %}
{% block title -%}
	Home
{%- endblock %}
{% block content %}
			<article class="home">

				<section id="hero" class="wow slideInLeft">

					<div class="section-content">
						<h1 class="text-center">TEDxNTUA Chaos</h1>
						<p class="info text-center">
							<a href="/schedule"><span>{{ trans('general.hero.date') }}</span></a>
							<a href="#map"><span>{{ trans('general.hero.venue') }}</span></a>
							<a href="#map"><span>{{ trans('general.hero.address') }}</span></a>
						</p>
						<p class="tickets text-center">
							<a href="https://www.eventora.com">{{ trans('general.hero.tickets') }}</a>
						</p>
					</div>

				</section>

				<section id="schedule" class="wow bounceInUp">

					<div class="section-content">
						<h2>{{ trans('general.home_sections.schedule.title') }}</h2>
						<div class="d-flex align-items-stretch mb-2">
							<p class="description pr-3">{{ trans('general.home_sections.schedule.desc') | raw }}</p>
							<div class="d-flex h-100 align-items-center justify-content-end">
								<p>
									<a href="/schedule" class="call-to-action">
										{{ trans('general.home_sections.schedule.calltoaction') }} &gt;
									</a>
								</p>
							</div>
						</div>
						<div class="card-columns">
							<div class="card">
								<div class="card-header talk">TALK</div>
								<div class="card-body">
									<div class="media">
										<img class="mr-3 align-self-center" src="http://via.placeholder.com/100x100" alt="">
										<div class="media-body">
											<h4>Reapproaching the Established</h4>
											This talk will influence many people. This talk will influence many people. This talk will influence many people. This talk will influence many people.
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header performance">PERFORMANCE</div>
								<div class="card-body">
									<div class="media">
										<img class="mr-3 align-self-center" src="http://via.placeholder.com/100x100" alt="">
										<div class="media-body">
											<h4>Reapproaching the Established</h4>
											This performance will influence many people. This performance will influence many people. This performance will influence many people. This performance will influence many people.
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header workshop">WORKSHOP</div>
								<div class="card-body">
									<div class="media">
										<img class="mr-3 align-self-center" src="http://via.placeholder.com/100x100" alt="">
										<div class="media-body">
											<h4>Reapproaching the Established</h4>
											This workshop will influence many people. This workshop will influence many people. This workshop will influence many people. This workshop will influence many people.
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header talk">TALK</div>
								<div class="card-body">
									<div class="media">
										<img class="mr-3 align-self-center" src="http://via.placeholder.com/100x100" alt="">
										<div class="media-body">
											<h4>Reapproaching the Established</h4>
											This talk will influence many people. This talk will influence many people. This talk will influence many people. This talk will influence many people.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</section>

				<section id="partners" class="wow bounceInUp">

					<div class="section-content">
						<h2>Partners</h2>
						<p>
							Governmental and non-governmental organizations use text messaging for communication between colleagues. As with emailing, in the 2010s, the sending of short informal messages has become an accepted part of many cultures.[1] This makes texting a quick and easy way to communicate with friends and colleagues, including in contexts where a call would be impolite or inappropriate (e.g., calling very late at night or when one knows the other person is busy with family or work activities). Like e-mail and voice mail, and unlike calls (in which the caller hopes to speak directly with the recipient), texting does not require the caller and recipient to both be free at the same moment; this permits communication even between busy individuals. Text messages can also be used to interact with automated systems, for example, to order products or services from e-commerce websites, or to participate in online contests. Advertisers and service providers use direct text marketing to send messages to mobile users about promotions, payment due dates, and other notifications instead of using postal mail, email, or voicemail.
						</p>
					</div>

				</section>

				<section id="about" class="wow bounceInUp">

					<div class="section-content">
						<h2>About</h2>
						<p>
							Like e-mail and voice mail, and unlike calls (in which the caller hopes to speak directly with the recipient), texting does not require the caller and recipient to both be free at the same moment; this permits communication even between busy individuals. Text messages can also be used to interact with automated systems, for example, to order products or services from e-commerce websites, or to participate in online contests. Advertisers and service providers use direct text marketing to send messages to mobile users about promotions, payment due dates, and other notifications instead of using postal mail, email, or voicemail.
						</p>
					</div>

				</section>

				<section id="speakers">

				<!-- 	<div class="section-content text-center">
						<h2>Speakers</h2>
						
						<a href="/speakers/jobs">
							<img src="https://pi.tedcdn.com/r/pe.tedcdn.com/images/ted/0ef62e4df27b4ba7294de889fdbc33e476a08ec9_254x191.jpg?" width="200rem" height="200rem" class="rounded-circle wow bounceInRight">
						</a>	
					</div>
 -->
				</section>

				<section id="map">

					<div class="section-content">
						<h2>{{ trans('general.home_sections.map.title') }}</h2>
						<p>
							{{ trans('general.home_sections.map.desc') | raw }}
						</p>
						<div class="map-container">
							<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.1659650923716!2d23.741146951388863!3d37.97325597962415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd41a90a05e7%3A0x243e905afaf27568!2zzqnOtM61zq_OvyDOkc64zrfOvc-Ozr0!5e0!3m2!1sel!2sgr!4v1512745475349" allowfullscreen></iframe>
						</div>
					</div>

				</section>

		</article>
{% endblock %}