{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
	{{ trans('general.home.title') }}
{%- endblock %}
{% block description -%}
	{{ trans('general.home.description') }}
{%- endblock %}
{% block content %}
			<article class="home">

				<section id="hero" class="wow slideInLeft">

					<div class="section-content">
						<h1 class="text-center">TEDxNTUA Chaos</h1>
						<p class="info text-center">
							<a href="/schedule"><span>{{ trans('general.home.hero.date') }}</span></a><br>
							<a href="#map"><span>{{ trans('general.home.hero.venue') }}</span></a><br>
							<a href="#map"><span>{{ trans('general.home.hero.address') }}</span></a>
						</p>
						<p class="tickets text-center">
							<a href="https://www.eventora.com">{{ trans('general.home.hero.tickets') }}</a>
						</p>
					</div>

				</section>

				<section id="schedule" class="wow bounceInUp">

					<div class="section-content">
						<h2>{{ trans('general.home.sections.schedule.title') }}</h2>
						<div class="section-intro">
							<div class="description">{{ trans('general.home.sections.schedule.desc') | raw }}</div>
							<div class="call-to-action-wrapper">
								<a href="/schedule" class="call-to-action">
									{{ trans('general.home.sections.schedule.calltoaction') }} <i class="fa fa-chevron-right"></i>
								</a>
							</div>
						</div>
						<div class="card-columns">
							<div class="card">
								<div class="card-header talk">TALK</div>
								<div class="card-body">
									<div class="media">
										<img class="mr-3 align-self-center" src="https://via.placeholder.com/100x100" alt="">
										<div class="media-body">
											<h4>Reapproaching the Established</h4>
											This talk will influence many people. This talk will influence many people. This talk will influence many people. This talk will influence many people.
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header performance">PERFORMANCE</div>
								<div class="card-body">
									<div class="media">
										<img class="mr-3 align-self-center" src="https://via.placeholder.com/100x100" alt="">
										<div class="media-body">
											<h4>Reapproaching the Established</h4>
											This performance will influence many people. This performance will influence many people. This performance will influence many people. This performance will influence many people.
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header workshop">WORKSHOP</div>
								<div class="card-body">
									<div class="media">
										<img class="mr-3 align-self-center" src="https://via.placeholder.com/100x100" alt="">
										<div class="media-body">
											<h4>Reapproaching the Established</h4>
											This workshop will influence many people. This workshop will influence many people. This workshop will influence many people. This workshop will influence many people.
										</div>
									</div>
								</div>
							</div>
							<div class="card">
								<div class="card-header talk">TALK</div>
								<div class="card-body">
									<div class="media">
										<img class="mr-3 align-self-center" src="https://via.placeholder.com/100x100" alt="">
										<div class="media-body">
											<h4>Reapproaching the Established</h4>
											This talk will influence many people. This talk will influence many people. This talk will influence many people. This talk will influence many people.
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

				</section>

				<section id="speakers" class="wow bounceInUp">

					<div class="section-content">
						<h2>{{ trans('general.home.sections.speakers.title') }}</h2>
						<div class="section-intro">
							<div class="description">{{ trans('general.home.sections.speakers.desc') | raw }}</div>
							<div class="call-to-action-wrapper">
								<a href="/speakers" class="call-to-action">
									{{ trans('general.home.sections.speakers.calltoaction') }} <i class="fa fa-chevron-right"></i>
								</a>
							</div>
						</div>
						<div class="container-fluid speaker-container">
							<div class="row no-gutters">
								{% for key, speaker in speakers  %}

								<div class="col col-12 col-md-4">
									<a href="/speakers#{{ speaker.id }}">
										<img src="{{ speaker.img_src}}" class="rounded-circle">
										<h3> {{ speaker. name}} </h3>
										<p class="m-0">{{ speaker.short_description }} </p>
									</a>
								</div>

								{% endfor %}
							</div>
						</div>
					</div>

				</section>

				<section id="about" class="wow bounceInUp">

					<div class="section-content">
						<h2>{{ trans('general.home.sections.about.title') }}</h2>
						<div class="section-intro">
							<div class="description">{{ trans('general.home.sections.about.desc') | raw }}</div>
							<div class="call-to-action-wrapper">
								<a href="/about" class="call-to-action">
									{{ trans('general.home.sections.about.calltoaction') }} <i class="fa fa-chevron-right"></i>
								</a>
							</div>
						</div>
					</div>

				</section>

				<section id="blog" class="wow bounceInUp">

					<div class="section-content">
						<h2>{{ trans('general.home.sections.blog.title') }}</h2>
						<div class="section-intro">
							<div class="description">{{ trans('general.home.sections.blog.desc') | raw }}</div>
							<div class="call-to-action-wrapper">
								<a href="/blog" class="call-to-action">
									{{ trans('general.home.sections.blog.calltoaction') }} <i class="fa fa-chevron-right"></i>
								</a>
							</div>
						</div>
						<div class="card-columns blog-listing">
							<a class="card-img-link blog-link" href="/blog/cooking-melomakarona">
								<div class="card">
									<div class="card-img-wrapper">
										<img class="card-img" src="{{ asset('images/blog/cooking-melomakarona.jpg') }}">
										<div class="card-img-overlay">
											<h5>21 DEC 17</h5>
											<h3>Cooking Melomakarona</h3>
										</div>
									</div>
								</div>
							</a>
							<a class="card-img-link blog-link" href="/blog/photoshooting-making-of-our-promo-video">
								<div class="card">
									<div class="card-img-wrapper">
										<img class="card-img" src="{{ asset('images/blog/photoshooting-making-of-our-promo-video.jpg') }}">
										<div class="card-img-overlay">
											<h5>14 DEC 17</h5>
											<h3>Photoshooting - Making of our promo video</h3>
										</div>
									</div>
								</div>
							</a>
							<a class="card-img-link blog-link" href="/blog/tedxntua-meets-tedxaueb">
								<div class="card">
									<div class="card-img-wrapper">
										<img class="card-img" src="{{ asset('images/blog/tedxntua-meets-tedxaueb.jpg') }}">
										<div class="card-img-overlay">
											<h5>14 DEC 17</h5>
											<h3>TEDxNTUA meets TEDxAUEB</h3>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>

				</section>

				<section id="sponsors" class="wow bounceInUp">

					<div class="section-content">
						<h2>{{ trans('general.home.sections.sponsors.title') }}</h2>
						<div class="section-intro">
							<div class="description">{{ trans('general.home.sections.sponsors.desc') | raw }}</div>
							<div class="call-to-action-wrapper">
								<a href="/sponsors" class="call-to-action">
									{{ trans('general.home.sections.sponsors.calltoaction') }} <i class="fa fa-chevron-right"></i>
								</a>
							</div>
						</div>
						<div class="container-fluid sponsor-container">
							<h3 class="text-center">{{ trans('general.sponsors.rank.0') }}</h3>
							<div class="row no-gutters">
								<div class="col col-12 col-md-4 mb-4 mb-md-0">
									<a href="https://www.e-corp-usa.com">
										<img class="img-fluid" src="https://pbs.twimg.com/media/DMhdOJeUIAAf2ec.jpg">
										<span>E-Corp USA</span>
									</a>
								</div>
								<div class="col col-12 col-md-4 mb-4 mb-md-0">
									<a href="https://www.e-corp-usa.com">
										<img class="img-fluid" src="https://pbs.twimg.com/media/DMhdOJeUIAAf2ec.jpg">
										<span>E-Corp USA</span>
									</a>
								</div>
								<div class="col col-12 col-md-4">
									<a href="https://www.e-corp-usa.com">
										<img class="img-fluid" src="https://pbs.twimg.com/media/DMhdOJeUIAAf2ec.jpg">
										<span>E-Corp USA</span>
									</a>
								</div>
							</div>
						</div>
					</div>

				</section>

				<section id="map">

					<div class="section-content">
						<h2>{{ trans('general.home.sections.map.title') }}</h2>
						<p class="description">
							{{ trans('general.home.sections.map.desc') | raw }}
						</p>
						<div class="map-container">
							<iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3145.1659650923716!2d23.741146951388863!3d37.97325597962415!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd41a90a05e7%3A0x243e905afaf27568!2zzqnOtM61zq_OvyDOkc64zrfOvc-Ozr0!5e0!3m2!1sel!2sgr!4v1512745475349" allowfullscreen></iframe>
						</div>
						<div class="container-fluid venue-gallery">
							<div class="row no-gutters">
								<div class="col col-12 col-md-6">
									<img src="https://www.athensconservatoire.gr/wp-content/uploads/2017/07/OdeionAthinon-Maketes-833x500.jpg">
								</div>
								<div class="col col-12 col-md-6">
									<img src="{{ asset('images/odeio1.png') }}">
								</div>
							</div>
							<div class="row no-gutters">
								<div class="col col-12 col-md-12">
									<img src="https://www.athensconservatoire.gr/wp-content/uploads/2017/06/odeio-site-slider.jpg">
								</div>
							</div>
						</div>
					</div>

				</section>

		</article>
{% endblock %}