{% extends "theme.twig" %}
{% block title %} Schedule {% endblock %}
{% block content %}

		<article class="schedule">
			<section class="heading">
				<h1>Schedule</h1>
			</section>
	
			<section class="content">
				
				<table class="table table-hover">

					<thead>
						<tr>
							<th scope="col">Time</th>
							<th scope="col">Talks</th>
							<th scope="col">Performances</th>
							<th scope="col">Workshops</th>
						</tr>
					</thead>

					<tbody>
					{%- for row in rows %}

						<tr data-toggle="collapse" data-target=".row-{{ "%02d" | format(loop.index) }}">
							<td class="time">
								<div class="cell-content">
									<time>{{ row.time }}</time>
								</div>
							</td>
						{%- for event in row.events %}
							<td class="event">
								{%- if not event.empty %}
								<div class="cell-content media">
									{%- if event.image %}
									<img class="align-self-center mr-3" src="{{ event.image }}" alt="{{ event.title }}" />
									{%- endif %}
									<div class="media-body">
										<h5>
											{{ event.title|raw }}
										</h5>
										{%- if event.subtitle %}
										<h6>
											{{ event.subtitle }}
										</h6>
										{%- endif %}
									</div>
								</div>
								{%- else %}
								<div class="cell-content"></div>
								{%- endif %}
							</td>
						{%- endfor %}
						</tr>

						<tr class="collapse-row hidden">
							<td>
								<div class="cell-content collapse row-{{ "%02d" | format(loop.index) }}">
									<div class="more"></div>
								</div>
							</td>
						{%- for event in row.events %}
							<td>
								<div class="cell-content collapse row-{{ "%02d" | format(loop.parent.loop.index) }}">
									<div class="more">{{ event.more|raw }}</div>
								</div>
							</td>
						{%- endfor %}
						</tr>

					{%- endfor %}

					</tbody>

				</table>

			</section>
		</article>

{% endblock %}