{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
{{ trans('general.speakers.title') }}
{%- endblock %}
{% block description -%}
{{ trans('general.speakers.description') }}
{%- endblock %}
{% block content %}

<article class="speakers">
	<section class="heading">
		<h1>{{ trans('general.speakers.title') }}</h1>
	</section>
	<section class="content">

	{% for key, speaker in speakers %}

		<div id="{{ speaker.sid }}" class="speaker-container container-fluid angle-brackets">

			<div class="speaker-header container-fluid">
				<img src="/images/speakers/{{ speaker.img_src }}" class="rounded-circle wow bounceInLeft">
				<h2>{{ speaker.name }} <a href="{{ speaker.link }}" target="_blank"><i class="fa fa-link" aria-hidden="true"></i></a></h2>
			</div>

			<div class="speaker-info container-fluid">
				<div class="row">
					<div class="col col-12 col-md-6 d-flex flex-column justify-content-between">
						<h3 class="text-center primary">{{ trans('general.speakers.short_bio') }}</h3>
						<p class="text-justify">
							{{ speaker.bio | markdown }}
						</p>
					</div>
					<div class="col col-12 col-md-6 d-flex flex-column justify-content-between">
						<h3 class="text-center primary">{{ trans('general.speakers.talk') }}:{{ speaker.talk.event_prev | markdown }}</h3>
						<p class="text-justify">
							{{ speaker.talk.subtitle | markdown }}
						</p>
					</div>
				</div>
			</div>
		</div>

	{% endfor %}

	<div class="container-fluid speakers-footer">
		<div class="row">
			<div class="col col-12 wow bounceInLeft">
				<h3>{{ trans('general.speakers.previous') }}</h3>
				<div class="embed-responsive embed-responsive-16by9">
					<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/videoseries?list=PLd7-PjFC85gz9xYWxVVqTddWLg75c8jZU&showinfo=1"></iframe>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col col-12 wow bounceInRight">
				<a class="call-to-action" href="/#speakers"><i class="fa fa-chevron-circle-left fa-1x" aria-hidden="true"></i> {{ trans('general.speakers.back') }}</a>
			</div>
		</div>
	</div>

	</section>
</article>

{% endblock %}
