{% extends "theme.twig" %}
{% block title -%}
{{ name }}
{%- endblock %}
{% block content %}

<article class="speaker">
	<section class="heading">
		<h1>{{ name }}</h1>
	</section>

	<section class="content">

		<div class="container container-fluid">

			<div class="row text-center text-lg-left">
				<div class="col col-12 col-lg-12 wow bounceInRight">
					<p class="back">
						<a href="/#speakers"><i class="fa fa-chevron-circle-left fa-1x" aria-hidden="true"></i> More Speakers</a>
					</p>
				</div>
			</div>

			<div class="row text-center text-lg-left">
				<div class="col col-12 col-lg-3 wow bounceInLeft">
					<img src="{{ img_src }}" width="200" height="200" class="rounded-circle wow bounceInLeft">
				</div>

				<div class="col col-12 col-lg-9 wow bounceInRight">
					<h2>{{ name }}</h2>
					<ul class="social-links list-inline">
						<li class="list-inline-item">
							<a href="https://skype.com"><i class="fa fa-skype fa-2x" aria-hidden="true"></i></a>
						</li>
						<li class="list-inline-item">
							<a href="https://twitter.com"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a>
						</li>
					</ul>	 
				</div>

			</div>

			<div class="row info wow bounceInUp">
				<div class="col col-12 col-lg-6">
					<h3 class="text-center primary">Short Bio</h3>
					<p class="text-justify">
						{{ cv }}	
					</p>
				</div>
				<div class="col col-12 col-lg-6">
					<h3 class="text-center primary">Talk: {{ talk }}</h3>
					<p class="text-justify">
						{{ cv }}	
					</p>
				</div>
			</div>
		</div>

	</section>
</article>



{% endblock %}