{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
	{{ trans('general.sponsors.title') }}
{%- endblock %}
{% block description -%}
	{{ trans('general.sponsors.description') }}
{%- endblock %}
{% block content %}
		<article class="sponsors">
			<section class="heading">
				<h1>{{ trans('general.sponsors.title') }}</h1>
			</section>

			<section class="content">
				<h2>{{ trans('general.sponsors.rank.0') }}</h2>

				<div class="container-fluid">
					<div class="row vertical-align">
						<div class="col col-12 col-lg-6">
							<a href="http://www.acg.edu/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="http://traveldailynews.gr/uploads/images/deree_logo_x589.jpg" alt="deree"></a>
						</div>
						<div class="col col-12 col-lg-6">
							<a href="https://www.sap.com/greece/index.html" target="_blank"><img class="img-fluid grid-image hover-zoom" src="https://www.techpress.gr/wp-content/uploads/2016/07/sap_logo-50cm-300dpi.jpg" alt="sap"></a>
						</div>



						<div class="col col-12 col-lg-6">
							<a href="http://centaur.ag/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="http://www.hsia.gr/images/108/centaurlogohorizontalfinal.png" alt="centaur"></a>
						</div>



					</div>
				</div>

				<h2>{{ trans('general.sponsors.rank.1') }}</h2>

				<div class="container-fluid">
					<div class="row vertical-align">
						<div class="col col-12 col-lg-4">
							<a href="http://mellongroup.com" target="_blank"><img class="img-fluid grid-image hover-zoom" src="http://mellongroup.com/sites/default/files/images/mellon_technologies.png" alt="mellon"></a>
						</div>


						<div class="col col-12 col-lg-4">
							<a href="https://www.helpe.gr/en/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="https://upload.wikimedia.org/wikipedia/en/thumb/b/bd/Hellenic_Petroleum.svg/1200px-Hellenic_Petroleum.svg.png" alt="Pony"></a>
						</div>
						<div class="col col-12 col-lg-4">
							<a href="http://koutsodontis.gr" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/koutsodontis.jpg') }}" alt="Pony"></a>
						</div>


					</div>
				</div>

				<h2>{{ trans('general.sponsors.rank.2') }}</h2>

				<div class="container-fluid">
					<div class="row vertical-align">
						<div class="col col-6 col-lg-3">
							<a href="https://www.sas.com/el_gr/home.html" target="_blank"><img class="img-fluid grid-image hover-zoom" src="http://www.business-analytics.gr/images/articles/sas-logo.jpg" alt="Pony"></a>
						</div>


					</div>
				</div>

				<h2>{{ trans('general.sponsors.rank.3') }}</h2>

				<div class="container-fluid">
					<div class="row vertical-align">
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid grid-image hover-zoom" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid grid-image hover-zoom" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid grid-image hover-zoom" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
						<div class="col col-6 col-lg-3">
							<a href="http://www.google.com" target="_blank"><img class="img-fluid grid-image hover-zoom" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
						</div>
					</div>
				</div>

			</section>
		</article>
{% endblock %}
