{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
{{ trans('general.sponsors.title') }}
{%- endblock %}
{% block description -%}
{{ trans('general.sponsors.description') }}
{%- endblock %}
{% block content %}
<article class="sponsors">
	<section class="heading">
		<h1>{{ trans('general.sponsors.title') }}</h1>
	</section>

	<section class="content">
		<h2>{{ trans('general.sponsors.rank.0') }}</h2>

		<div class="container-fluid">

			<div class="row vertical-align">
				<div class="col col-12 col-lg-6">
					<a href="http://www.acg.edu/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_deree.png') }}" srcset="{{ asset('images/sponsors/small/small_deree.png') }} 576w, {{ asset('images/sponsors/large/large_deree.png') }} 960w" alt="Deree College"></a>
				</div>

				<div class="col col-12 col-lg-6">
					<a href="https://www.nestle.{{ getLocale() == "el" ? "gr" : "com" }}" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_nestle.png') }}" srcset="{{ asset('images/sponsors/small/small_nestle.png') }} 576w, {{ asset('images/sponsors/large/large_nestle.png') }} 960w" alt="Nestle"></a>
				</div>
			</div>

			<div class="row vertical-align">
				<div class="col col-12 col-lg-6">
					<a href="http://centaur.ag/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_centaur.png') }}" srcset="{{ asset('images/sponsors/small/small_centaur.png') }} 576w, {{ asset('images/sponsors/large/large_centaur.png') }} 960w" alt="Centaur"></a>
				</div>

				<div class="col col-12 col-lg-6">
					<a href="https://www.sap.com/{{ getLocale() == "el" ? "greece/index.html" : "corporate/en.html" }}" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_sap.png') }}" srcset="{{ asset('images/sponsors/small/small_sap.png') }} 576w, {{ asset('images/sponsors/large/large_sap.png') }} 960w" alt="SAP"></a>
				</div>
			</div>

			<div class="row vertical-align">
				<div class="col col-12 col-lg-6">
					<a href="http://www.bosch-home.{{ getLocale() == "el" ? "gr" : "com" }}" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_bosch.png') }}" srcset="{{ asset('images/sponsors/small/small_bosch.png') }} 576w, {{ asset('images/sponsors/large/large_bosch.png') }} 960w" alt="BOSCH"></a>
				</div>
			</div>
		</div>

		<h2>{{ trans_choice('general.sponsors.rank.1', 1) }}</h2>
		
		<div class="container-fluid">

			<div class="row vertical-align">

				<div class="col col-12 col-lg-6">
					<a href="https://www.uber.com/{{ getLocale() }}-GR/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_uber.png') }}" srcset="{{ asset('images/sponsors/small/small_uber.png') }} 576w, {{ asset('images/sponsors/large/large_uber.png') }} 960w" alt="Uber"></a>
				</div>

			</div>

		</div>

		<h2>{{ trans('general.sponsors.rank.2') }}</h2>

		<div class="container-fluid">
			<div class="row vertical-align">
				<div class="col col-12 col-lg-3">
					<a href="https://www.vodafonecu.gr" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_cu.png') }}" srcset="{{ asset('images/sponsors/small/small_cu.png') }} 576w, {{ asset('images/sponsors/large/large_cu.png') }} 960w" alt="Vodafone CU"></a>
				</div>

				<div class="col col-12 col-lg-3">
					<a href="http://mellongroup.com" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_mellon.png') }}" srcset="{{ asset('images/sponsors/small/small_mellon.png') }} 576w, {{ asset('images/sponsors/large/large_mellon.png') }} 960w" alt="Mellon Group"></a>
				</div>

				<div class="col col-12 col-lg-3">
					<a href="https://www.koutsodontis.gr/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_koutsodontis.png') }}" srcset="{{ asset('images/sponsors/small/small_koutsodontis.png') }} 576w, {{ asset('images/sponsors/large/large_koutsodontis.png') }} 960w" alt="Koutsodontis"></a>
				</div>

				<div class="col col-12 col-lg-3">
					<a href="https://www.helpe.gr/{{ getLocale() }}/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_helpe.png') }}" srcset="{{ asset('images/sponsors/small/small_helpe.png') }} 576w, {{ asset('images/sponsors/large/large_helpe.png') }} 960w" alt="Hellenic Petroleum"></a>
				</div>
			</div>
		</div>

		<h2>{{ trans('general.sponsors.rank.3') }}</h2>

		<div class="container-fluid">
			<div class="row vertical-align">
				<div class="col col-6 col-lg-2">
					<a href="https://www.sas.com/{{ getLocale() == "el" ? "el_gr" : "en_us" }}/home.html" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_sas.png') }}" srcset="{{ asset('images/sponsors/small/small_sas.png') }} 576w, {{ asset('images/sponsors/large/large_sas.png') }} 960w" alt="sas"></a>
				</div>
				<div class="col col-6 col-lg-2">
					<a href="http://www.ktimakokotou.gr/?lang={{ getLocale() }}" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_aKtimaKokotou.png') }}" srcset="{{ asset('images/sponsors/small/small_aKtimaKokotou.png') }} 576w, {{ asset('images/sponsors/large/large_aKtimaKokotou.png') }} 960w" alt="Ktima G. Kokotou"></a>
				</div>
				<div class="col col-6 col-lg-2">
					<a href="https://www.skag.gr/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_skag.png') }}" srcset="{{ asset('images/sponsors/small/small_skag.png') }} 576w, {{ asset('images/sponsors/large/large_skag.png') }} 960w" alt="SKAG"></a>
				</div>
				<div class="col col-6 col-lg-2">
					<a href="http://www.molto.gr/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_molto.png') }}" srcset="{{ asset('images/sponsors/small/small_molto.png') }} 576w, {{ asset('images/sponsors/large/large_molto.png') }} 960w" alt="Molto"></a>
				</div>
				<div class="col col-6 col-lg-2">
					<a href="https://www.hothot.gr/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/sponsors/small/small_hot_hot.png') }}" srcset="{{ asset('images/sponsors/small/small_hot_hot.png') }} 576w, {{ asset('images/sponsors/large/large_hot_hot.png') }} 960w" alt="Hot Hot"></a>
				</div>
			</div>
		</div>

		<h2>{{ trans('general.sponsors.rank.4') }}</h2>

		<div class="container-fluid">
			<div class="row vertical-align">

				<div class="col col-6 col-lg-2">
					<a href="http://naftemporiki.gr{{ getLocale() == "el" ? "" : "/english" }}" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_nafteboriki.png') }}" srcset="{{ asset('images/media/small/small_nafteboriki.png') }} 576w, {{ asset('images/media/large/large_nafteboriki.png') }} 960w" alt="Naftemporiki"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="http://pestaola.gr" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_pestaola.png') }}" srcset="{{ asset('images/media/small/small_pestaola.png') }} 576w, {{ asset('images/media/large/large_pestaola.png') }} 960w" alt="pestaola.gr"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="http://careernet.gr" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_careernet.png') }}" srcset="{{ asset('images/media/small/small_careernet.png') }} 576w, {{ asset('images/media/large/large_careernet.png') }} 960w" alt="CareerNet"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="https://www.kariera.gr/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_kariera.png') }}" srcset="{{ asset('images/media/small/small_kariera.png') }} 576w, {{ asset('images/media/large/large_kariera.png') }} 960w" alt="Kariera.gr"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="https://www.epixeiro.gr" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_epixeiro.png') }}" srcset="{{ asset('images/media/small/small_epixeiro.png') }} 576w, {{ asset('images/media/large/large_epixeiro.png') }} 960w" alt="επιχειρώ"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="https://www.{{ getLocale() == "el" ? "forfreegr.com" : "en.forfree.gr" }}" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_forfree.png') }}" srcset="{{ asset('images/media/small/small_forfree.png') }} 576w, {{ asset('images/media/large/large_forfree.png') }} 960w" alt="forfree.gr"></a>
				</div>
			</div>

			<div class="row vertical-align">

				<div class="col col-6 col-lg-2">
					<a href="http://doctv.gr" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_doctv.png') }}" srcset="{{ asset('images/media/small/small_doctv.png') }} 576w, {{ asset('images/media/large/large_doctv.png') }} 960w" alt="doctv.gr"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="https://e-employ.gr/{{ getLocale() }}" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_employ.png') }}" srcset="{{ asset('images/media/small/small_employ.png') }} 576w, {{ asset('images/media/large/large_employ.png') }} 960w" alt="Employ Career Counselors"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="http://www.paideia-ergasia.gr/" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_paideia-ergasia.png') }}" srcset="{{ asset('images/media/small/small_paideia-ergasia.png') }} 576w, {{ asset('images/media/large/large_paideia-ergasia.png') }} 960w" alt="Παιδεία – Εργασία"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="http://stand-out.gr" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_standout.png') }}" srcset="{{ asset('images/media/small/small_standout.png') }} 576w, {{ asset('images/media/large/large_standout.png') }} 960w" alt="Stand Out"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="http://uniqueminds.gr" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_um.png') }}" srcset="{{ asset('images/media/small/small_um.png') }} 576w, {{ asset('images/media/large/large_um.png') }} 960w" alt="Unique Minds"></a>
				</div>

				<div class="col col-6 col-lg-2">
					<a href="https://unikorn.gr" target="_blank"><img class="img-fluid grid-image hover-zoom" src="{{ asset('images/media/small/small_unikorn.png') }}" srcset="{{ asset('images/media/small/small_unikorn.png') }} 576w, {{ asset('images/media/large/large_unikorn.png') }} 960w" alt="Unikorn"></a>
				</div>

			</div>

		</div>

	</section>
</article>
{% endblock %}
