{% extends isPjax is defined and isPjax == true ? "pjax.twig" : "theme.twig" %}
{% block title -%}
	{{ trans('general.team.title') }}
{%- endblock %}
{% block description -%}
	{{ trans('general.team.description') }}
{%- endblock %}
{% block content %}
<article class="team">
	<section class="heading">
		<h1>{{ trans('general.team.title') }}</h1>
	</section>

	<section class="content text-center">
		<h2 id="experience">{{ trans('general.team.experience') }}</h2>

		<div class="container-fluid">
			<div class="row"> 
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

			</div>
		</div>


		<h2 id="fr">{{ trans('general.team.fr') }}</h2>

		<div class="container-fluid">
			<div class="row"> 
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://i.pinimg.com/736x/bb/57/30/bb57307d8d417350d980ba0bffee5d34--perler-patterns-bead-patterns.jpg" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://i.pinimg.com/736x/bb/57/30/bb57307d8d417350d980ba0bffee5d34--perler-patterns-bead-patterns.jpg" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://i.pinimg.com/736x/bb/57/30/bb57307d8d417350d980ba0bffee5d34--perler-patterns-bead-patterns.jpg" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://i.pinimg.com/736x/bb/57/30/bb57307d8d417350d980ba0bffee5d34--perler-patterns-bead-patterns.jpg" alt="Pony"></a>
				</div>

				
			</div>
		</div>

		<h2 id="graphics">{{ trans('general.team.graphics') }}</h2>

		<div class="container-fluid">
			<div class="row"> 
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="http://vignette1.wikia.nocookie.net/spongebob/images/3/31/8468-spongebob-square-pants-spongebobs-face.jpg/revision/latest?cb=20121014113555" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="http://vignette1.wikia.nocookie.net/spongebob/images/3/31/8468-spongebob-square-pants-spongebobs-face.jpg/revision/latest?cb=20121014113555" alt="Pony"></a>
				</div>
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="http://vignette1.wikia.nocookie.net/spongebob/images/3/31/8468-spongebob-square-pants-spongebobs-face.jpg/revision/latest?cb=20121014113555" alt="Pony"></a>
				</div>
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="http://vignette1.wikia.nocookie.net/spongebob/images/3/31/8468-spongebob-square-pants-spongebobs-face.jpg/revision/latest?cb=20121014113555" alt="Pony"></a>
				</div>

			</div>
		</div>

		<h2 id="it">{{ trans('general.team.it') }}</h2>

		<div class="container-fluid">
			<div class="row"> 
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

			</div>
		</div>


		<h2 id="media">{{ trans('general.team.media') }}</h2>

		<div class="container-fluid">
			<div class="row"> 
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://i.pinimg.com/736x/bb/57/30/bb57307d8d417350d980ba0bffee5d34--perler-patterns-bead-patterns.jpg" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://i.pinimg.com/736x/bb/57/30/bb57307d8d417350d980ba0bffee5d34--perler-patterns-bead-patterns.jpg" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://i.pinimg.com/736x/bb/57/30/bb57307d8d417350d980ba0bffee5d34--perler-patterns-bead-patterns.jpg" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://i.pinimg.com/736x/bb/57/30/bb57307d8d417350d980ba0bffee5d34--perler-patterns-bead-patterns.jpg" alt="Pony"></a>
				</div>

				
			</div>
		</div>

		<h2 id="speakers">{{ trans('general.team.speakers') }}</h2>

		<div class="container-fluid">
			<div class="row"> 
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="http://vignette1.wikia.nocookie.net/spongebob/images/3/31/8468-spongebob-square-pants-spongebobs-face.jpg/revision/latest?cb=20121014113555" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="http://vignette1.wikia.nocookie.net/spongebob/images/3/31/8468-spongebob-square-pants-spongebobs-face.jpg/revision/latest?cb=20121014113555" alt="Pony"></a>
				</div>
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="http://vignette1.wikia.nocookie.net/spongebob/images/3/31/8468-spongebob-square-pants-spongebobs-face.jpg/revision/latest?cb=20121014113555" alt="Pony"></a>
				</div>
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="http://vignette1.wikia.nocookie.net/spongebob/images/3/31/8468-spongebob-square-pants-spongebobs-face.jpg/revision/latest?cb=20121014113555" alt="Pony"></a>
				</div>

			</div>
		</div>

		<h2 id="venue_production">{{ trans('general.team.venue_production') }}</h2>

		<div class="container-fluid">
			<div class="row"> 
				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

				<div class="col col-6 col-lg-3">
					<a href="mailto:johndoe@example.net" target="_blank"><img class="img-fluid grid-image rounded-circle" src="https://vignette.wikia.nocookie.net/epicrapbattlesofhistory/images/e/eb/Deal_with_it_rainbow_style_by_j_brony-d4cwgad.png" alt="Pony"></a>
				</div>

			</div>
		</div>



	</section>


</article>
{% endblock %}