<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('flags.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token() }}">
{% block head %}
    <title>{% block title %}{% endblock %} | TEDxNTUA 2018</title>
    <meta name="description" content="{% block description %}{% endblock %}">
{% endblock -%}
{%- block scripts -%}
{%- endblock %}
</head>

<body>

    <header class="dark">

{{ include('layouts.partials.nav') }}

    </header>

    <main>

{% block content %}{% endblock %}

    </main>

    <div id="loading">
        <article class="loading">
            <section class="heading">
                <h1>{{ trans('general.loading') }}</h1>
            </section>
            <section class="content">
                <div class="w-100 mb-3"></div>
                <div class="w-50"></div>
            </section>
        </article>
    </div>

    <footer>
{{ include('layouts.partials.footer') }}
    </footer>

    <script src="{{ asset('js/app.js') }}"></script>

</body>

</html>
