<title>{{ trans('general.tickets.title') }} | TEDxNTUA 2018</title>
<link rel="canonical" href="{{ getNonLocalizedURL() }}" />
<meta name="description" content="{{ trans('general.tickets.desc') }}">
<meta property="og:title" content="{{ trans('general.tickets.title') }} | TEDxNTUA 2018" />
<meta property="og:description" content="{{ trans('general.tickets.desc') }}">
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ getNonLocalizedURL() }}" />
<meta property="og:image" content="{{ asset('images/tedxntua-black-600.png') }}" />
<meta property="og:image:width" content="600" />
<meta property="og:image:height" content="600" />