		<div class="container d-none d-md-block">
			<div class="row">
				<div class="facebook-stream col col-md-4">
					<h3 class="mb-3">{{ trans('general.footer.facebook_title') }} <a href="https://facebook.com/tedxntua"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></h3>
					<div class="fb-page" data-href="https://www.facebook.com/tedxntua" data-tabs="timeline" data-width="400" data-height="500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
						<blockquote cite="https://www.facebook.com/tedxntua" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/tedxntua">TEDx NTUA</a></blockquote>
					</div>
				</div>
				<div class="instagram-stream col col-md-4">
					<h3 class="mb-3">{{ trans('general.footer.instagram_title') }} <a href="https://instagram.com/tedxntua"><i class="fa fa-instagram" aria-hidden="true"></i></a></h3>
					<div id="instafeed"></div>
					<!--<a href="https://instawidget.net/v/user/tedxntua" id="link-c2e843cf2c9bb3ebd180be22ee946fe665efad828690fd71d51e0db4d5c9d27e">@tedxntua</a>
					<script src="https://instawidget.net/js/instawidget.js?u=c2e843cf2c9bb3ebd180be22ee946fe665efad828690fd71d51e0db4d5c9d27e&width=500px"></script>-->
				</div>
				<div class="older col col-md-4">
					<h3 class="mb-3">{{ trans('general.footer.past_events_title') }}</h3>
					<a class="card-img-link mb-3" href="http://2017.tedxntua.com">
						<div class="card">
							<img class="card-img" src="{{ asset('images/tedxntua2017.jpg') }}">
							<div class="card-img-overlay">
								<div class="card-img-content">
									<h3><strong>2017</strong><span class="d-none d-xl-inline">.tedxntua.com</span></h3>
									<div class="card-img-hover-content">
										<h5>HEURISTICS</h5>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a class="card-img-link mb-3" href="http://2015.tedxntua.com">
						<div class="card">
							<img class="card-img" src="{{ asset('images/tedxntua2015.jpg') }}">
							<div class="card-img-overlay">
								<div class="card-img-content">
									<h3><strong>2015</strong><span class="d-none d-xl-inline">.tedxntua.com</span></h3>
									<div class="card-img-hover-content">
										<h5>CHAIN REACTIONS</h5>
									</div>
								</div>
							</div>
						</div>
					</a>
					<a class="youtube-link text-center d-block" href="https://www.youtube.com/channel/UCVtjgrrBdSPZERmdso2o0dw"><i class="fa fa-youtube-play mr-1" aria-hidden="true"></i> {{ trans('general.footer.youtube_title') }}</a>
				</div>
			</div>
		</div>
		<div class="container d-block d-md-none">
			<ul class="social-links list-unstyled d-flex justify-content-around">
				<li>
					<a href="https://facebook.com/tedxntua"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="https://instagram.com/tedxntua"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="https://www.youtube.com/channel/UCVtjgrrBdSPZERmdso2o0dw"><i class="fa fa-youtube-square fa-3x" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="mailto:info@tedxntua.com"><i class="fa fa-envelope-square fa-3x" aria-hidden="true"></i></a>
				</li>
			</ul>
		</div>
		<div class="container credits text-center">
			<p class="m-0">
				<a href="/team#it">{{ trans('general.footer.handcrafted') }} <i class="fa fa-heart" aria-hidden="true"></i></a> |
				<a href="https://creativecommons.org/licenses/by/4.0/"><i class="fa fa-creative-commons" aria-hidden="true"></i> BY 4.0</a><span class="d-none d-sm-inline"> | </span><span class="d-inline d-sm-none"><br /></span><a href="/privacy">{{ trans('general.privacy.title') }}</a>
			</p>
			<p class="m-0 small">{{ trans('general.footer.license') }}</p>
		</div>
