        <nav class="navbar navbar-expand-lg navbar-dark mx-auto">
            <div class="navbar-brand-wrapper">
                <a class="navbar-brand" href="/">
                    <img src="{{ asset('images/tedx_ntua_logo.png') }}" alt="TEDx NTUA Logo" />
                </a>
                <div class="navbar-flags">
                    <a class="flagLink el" href="{{ getLocalizedURL('el') }}" hreflang="el"></a>
                    <a class="flagLink en" href="{{ getLocalizedURL('en') }}" hreflang="en"></a>
                </div>
            </div>

            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarHotdog" aria-controls="navbarHotdog" aria-expanded="false" aria-label="Toggle navigation">
                <div class="hotdog-container">
                    <span class="hotdog hotdog-1"></span>
                    <span class="hotdog hotdog-2"></span>
                    <span class="hotdog hotdog-3"></span>
                    <span class="triangle"></span>
                </div>
            </button>

            <div class="collapse navbar-collapse" id="navbarHotdog">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">{{ trans('general.nav.home') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/sponsors">{{ trans('general.nav.sponsors') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/speakers">{{ trans('general.nav.speakers') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/schedule">{{ trans('general.nav.schedule') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/team">{{ trans('general.nav.team') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://blog.tedxntua.com">{{ trans('general.nav.blog') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">{{ trans('general.nav.about') }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact">{{ trans('general.nav.contact') }}</a>
                    </li>
                    <li class="nav-item get-tickets">
                        <a class="nav-link" href="https://www.eventora.com">{{ trans('general.nav.gettickets') }}</a>
                    </li>
                </ul>
            </div>
        </nav>